.card-group{
    margin-top: 20px;
    margin-left: 20%;
    width: 80%;
    
}

.card-body{
    background-color: #fdf5fb;

}
.card-header{
    background-color: #E3F3FD;
}
.card-footer{
    background-color: #E3F3FD;
}
.dropdown-menu{
    background-color: #E3F3FD;
}
#navbar{
    background-color: #E3F3FD;
}
#logoig{
    margin-top: 40%;

    float:left;
}

.card-img-producto{
    margin: auto;
    padding: 10px;
    height: 400px ;
    width: 100%;
}
.card-img-pub{
    height:240px;
    width: 100%;
}


#activo{
    color: #00bfff;
}
#titProduc{
    background-color: #fdf5fb;
}
.card{
    background-color: #fdf5fb;
}
.precio{
    font-size:25px ;
}
.fecha-pub{
   vertical-align: text-bottom;
}
.img-pub{
    height:320px;
    width: 320px;
}

#imag-izq{
    float: left;
    padding-right: 20px;
    padding-bottom: 2px;
}
#imag-dere{
    float: right;
    padding-left: 20px;
    padding-top: 2px;
}
#p1{
   
    text-align: justify;
    margin: auto;
    padding:auto;
    margin-left: auto;
}
#p2{
    padding: auto;
    text-align: justify;
    padding:auto;
    margin-left: auto;
}
#p3{
    padding: auto;
    text-align: justify;
    padding:auto;
    margin-right: auto;
}
#titulo-pub{
    text-align: center;
    padding-bottom: 30px;
}
.img-fondo{
    height:320px;
    width: 320px;
   

}

.publicaciones{
    height: 100px;
    width: 100px;
    margin: 3px;
    padding: 3px;
}

#navbar{
    padding-top: 0px;
    padding-bottom: 0px;

}

#qs{
    margin-left: 10px;
}
#titulo-qs{
    padding-bottom:15px;
}

#nomb-email{
    padding-left: 0px;
   
}
#for-cont{
    text-align: left;
}

.publi{
    text-align: left;
    margin-left: 50px;
}

#btnmodal{
    padding: 0px;
    height:320px;
    width: 320px;
    margin: 0px;
}
#img-modal{
    width: 100%;
}
