{% extends 'publicacion/base2.html' %}

{% block content %}
<div class="post">
    {% if post.published_date %}
    <div id="date">
        {{ post.published_date }}
    </div>
    {% endif %}

    <div class="container-fluid">
        <h1 id="titulo-pub">{{ post.title }}</h1>

        

        <!-- Button trigger modal -->
        <button id="btnmodal" type="button" class="btn btn-primary float-start me-3 mb-3" data-bs-toggle="modal" data-bs-target="#modal_pub">
            <img class="img-fondo" src="{{ post.image.url }}" alt="foto">
        </button>

        <p id="p1">
            {{ post.text|linebreaksbr }}
        </p>

        <!-- Modal -->
        <div class="modal fade" id="modal_pub" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                    </div>
                    <div class="modal-body">
                        <img id="img-modal" src="{{ post.image.url }}" alt="foto">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        {% if user.is_authenticated %}
        <button type="button" class="btn btn-outline-secondary" id="editar"><a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}">Edit</a></button>
        {% endif %}
    </div>
</div>
{% endblock %}
