{% extends 'publicacion/base2.html' %}
{% load static %}
{% block content %}
{% for post in posts %}

<div class="flex-shrink-0">
    <a href="{% url 'post_detail' pk=post.pk %}"><img class="publicaciones" src="{ % static 'img/card1.jpg' %}"
            alt="cirugía"></a>

</div>
<div class="flex-grow-1 ms-3">
        <h5><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h5>
    <p>{{ post.text|linebreaksbr }}</p>
    <br><br>
    <div class="date">
        <p>publicado: {{ post.published_date }}</p>
    </div>
</div>
{% endfor %}
{% endblock %}