{% extends 'productos/base3.html' %}
{% load static %}
{% block content %}
<div class="container-fluid">
    <h1 id="titProduc">Nuestros Productos</h1>
    <button id="toggleDivisa" data-divisa="CLP" class="btn btn-primary mb-3">Mostrar en USD</button>
    <div class="row row-cols-1 row-cols-md-2 g-4">
        {% for producto in product %}
        <div class="col">
            <div class="card">
                <img src="{{ producto.image.url }}" class="card-img-producto" alt="Pines">
                <div class="card-body">
                    <h5 class="producto">{{ producto.name }}</h5>
                    <p class="precio">${{ producto.price }}</p>
                    <!-- Agregar al carrito usando AJAX -->
                    <button class="btn btn-success agregar-al-carrito" data-producto-id="{{ producto.id }}">Agregar al Carrito</button>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript">
$(document).ready(function() {
    $('.agregar-al-carrito').click(function(e) {
        e.preventDefault();
        var productId = $(this).data('producto-id');
        
        $.ajax({
            url: '{% url "add_to_cart" 0 %}'.replace('0', productId),
            method: 'POST',
            headers: { 'X-Requested-With': 'XMLHttpRequest' },  // Agregar la cabecera para indicar AJAX
            success: function(response) {
                alert(response.message);  // Manejar la respuesta JSON aquí
                // Aquí puedes actualizar la interfaz de usuario según sea necesario
            },
            error: function(xhr, status, error) {
                console.error(error);  // Manejar errores de AJAX aquí
                alert('Error al agregar el producto al carrito');
            }
        });
    });
});
</script>

{% endblock %}
