{% extends 'pagina/base.html' %}
{% load static %}
{% block content %}
<div class="container-fluid-colab">
    <h1>Colaboradores</h1>
    <br>
    {% for colab in colaboradores %}
    <div id="card-1-colab">
        <div class="card mb-4" style="max-width: 540px;margin: 0 auto;">
            <div class="row g-0">
                <div class="col-md-4">
                    <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#modal-{{ forloop.counter }}">
                        <img src="{{ colab.image.url }}" class="colab-img" alt="img-colab-1">

                    </button>
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">{{ colab.name }}</h5>
                        <p class="card-text-lg">{{ colab.text }} </p>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="modal-{{ forloop.counter }}" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">

                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <img src="{{ colab.image.url }}"class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary"
                                data-bs-dismiss="modal">Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    {% endfor %}
</div>
{% endblock %}